<div class="catalog">
    <div class="catalog__header">
        <h1>Find: 200 games</h1>
    </div>

    <div class="catalog__search">
        <div class="search-panel">
            <input id="search" type="text" placeholder="Search games...">
            <i class="icon-search material-icons">search</i>
        </div>
    </div>

    <div class="catalog__filter">
        <div class="filter-panel filter-list-item">
            <div class="list-item__header">
                Sorting by:
            </div>
            <div class="list-item__content">
                <ul class="list-item__nav">
                    <li>Popularity</li>
                    <li>Alphabet</li>
                    <li>Price</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="catalog__content">
        <div class="item-game">
            <img src="https://cdn.gabestore.ru/product/370x460_yeZVWYiuagWmqrE4eiRosdYwzo272Rtr.png" class="item-game__img">
            <div class="item-game__inner">
                <span class="item-game__inner-title">
                    Grand Theft Auto V
                </span>
                <div class="item-game__inner-button">
                    <img class="item-game__inner-button__image" src="https://gabestore.ru/images/catalog/cart-w.svg" alt="">
                    <span class="item-game__inner-button__text">Buy now</span>
                </div>
            </div>
            <div class="item-game__hover">
                <div class="item-game__hover-price">
                    <span>100 R</span>
                </div>
                <div class="item-game__hover-percent">
                    <span>50%</span>
                </div>
            </div>
        </div>
    </div>






    <div class="catalog__next-page">
        <button class="next-page__button">
            Show more...
        </button>
    </div>
</div>


